<div class="container">
  <nav class="navbar navbar-custom">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">
          <img alt="Brand" src="./assets/logo-ucberkeley-white.png" height="120%">
        </a>
        <a class="navbar-brand" routerLink="/register">Attendy</a>
        <p class="navbar-text" routerLink="/attend">Smart Attendace Tracker</p>
      </div>
      <p class="navbar-text navbar-right">Signed in as
        <a class="navbar-link" routerLink="/me">Nitin</a>&nbsp;&nbsp;</p>
    </div>
  </nav>
</div>
